Require all denied

<Files "tasks.php">
    Require all granted
</Files>

<Files "heartbeat.php">
    Require all granted
</Files>

<Files "commands.php">
    Require all granted
</Files>

<Files "admin_providers.php">
    Require all granted
</Files>

<Files "chat_external.php">
    Require all granted
</Files>
